.trip {
	margin-bottom: 139px;

	&__text {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 46px;
	}
	&__text-link {
		color: #006dfe;
		text-transform: uppercase;
		display: inline-block;
		padding-right: 59px;
		background: url(../img/SVG/shape.svg) no-repeat 98px center;
		&:after {
			background-color: #006dfe;
			width: 72px;
		}
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 354px, 283px;
		gap: 10px;
		margin-bottom: 131px;
	}
	&__card {
		background: rgba(21, 24, 36, 0.4);
		transition: 0.3s;
		overflow: hidden;
		&-span-3 {
			grid-column-start: span 3;
			min-height: 354px;
		}
		&-span-2 {
			grid-column-start: span 2;
			min-height: 283px;
		}
		&:hover,
		&:focus {
			background-color: rgba(149, 80, 170, 0.4);
		}
	}
	&__card-img {
		z-index: -1;
		transition: 0.3s;
	}
	&__card-text {
		color: #fff;
		font-weight: 700;
		font-size: 50px;
		line-height: 60px;
		position: absolute;
		bottom: 27px;
		left: 30px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__row:not(:last-child) {
		margin-bottom: 77px;
	}
	&__row-img {
		flex: 0 0 47.268%;
		min-height: 354px;
	}
	&__row-text {
		flex: 0 0 44.338%;
		padding: 36px 46px;
	}
	&__row-title {
		font-weight: 700;
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 45px;
	}
	&__row-text-subtitle {
		line-height: 24px;
		margin-bottom: 58px;
	}
}
.trip__card:hover .trip__card-img {
	transform: scale(1.02);
}
